.wrapper{
    grid-area: nav;
    border-radius: 25px;
    background: #AAAAAA;
    box-shadow: -10px -10px 24px rgba(0, 0, 0, 0.5), 10px 10px 24px rgba(0, 0, 0, 0.5);

    padding: 15px;
}

.nav_list{
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-align: left;
}

.nav_item{
    margin: 5px 0;
    padding: 5px;
    border-radius: 10px;
    transition: background .3s;
    cursor: pointer;
}

.nav_item:hover{
    background: #919191;
}

.link{
    display: block;
    font-weight: 600;
    color: #fff;
    text-decoration: none;
}